body {
    background-image: url(fondo.jpg);
    background-position: absolute;
    background-attachment: contain;
    background-size: cover;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    background-repeat: no-repeat;

    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: lightblue;
    font-size: large;
}

h1 {
    text-align: center;
    text-size-adjust: 300%;
    color: black;
    font: xx-large;
    border-bottom: solid lime 1px;
    
}

/* para corregirlo y poner fondo de fuego al titulo.
#titulo {
    background: url(FireTransparent.gif);
    background-size: 100px 300px ;
    background-repeat: no-repeat;
}
*/

div > div > div {
    background: rgba(50, 37, 122, 0.6);
    width: auto;
    border: solid aqua 2px;
    margin: 3em;
    padding: 100px;

}

.col {
    object-position: right;
    padding: 50px 50px 10px 10px;
    
}

.col-3 {
    background: unset;
    width: fit-content;
    border: solid aqua 1px;
    margin: unset;
    padding: 1px;
    float: left;
    margin-left: 4em;
    margin-top: 15px;
    margin-bottom: 5px;
}

.d-flex {
    background: unset;
    width: auto;
    border: unset;
    float: unset;
    margin: unset;
    padding: unset;
    justify-content: space-between;
}

p {
    text-align: left;
    text-size-adjust: 10px;
    margin-left: 5px;
}
h4 {
    margin-left: 150px;
}

img {
    float: center;
    width: 200px;
    border-radius: 8px;
    margin: unset;
    padding: 1px;
    object-fit: contain;
    position: static;
}