* {
    background-image: url(fondo.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    background-repeat: no-repeat;

    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: white;
}

h1 {
    text-align: center;
    text-size-adjust: 300%;
}

div {

}

hr {
    lighting-color: aqua;
}
